* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    max-width: 100%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
}

.header {
    background-color: #131921;
    width: 100vw;
    height: 10vh;
}

.img-amz {
    height: 60%;
    background-color: white;
    border-radius: 20%;
    margin: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
    justify-content: space-evenly;
}

.home {

    /* margin: 1rem; */
    height: 50%;
   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    /* padding: 10px; */

}

.hello {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.hello-img {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

#hello-img {
   
}

.hello-text {
    color: white;
    /* margin-left: 1rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

/* search bar */
.input {
    width: 100%;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    position: relative;
  
  }
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

  .searchbarwrap{
    /* margin-left: 50px;
    margin-right: 50px; */
    display: flex;
    align-items: center;
    width: 600px;
    position: relative;

  }
  .searchicon{
    position: absolute;
    right: 10px;

  }
  /* search bar ends */
  .retandord{
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10PX;
    /* margin-left: 50px;
    margin-right: 50px; */

  }
  .cart{
    /* margin-left: 10px;
    margin-right: 50px; */
    padding: 10px;
  }

  .hoverborder:hover{
    border:  solid white 2px;
    transition: all 0.3s ease-in;
    padding: 10PX;
    border-radius: 10px;
  }

/* <---------------------------------- Middle Section (product gallery) ------------------------------> */

    /* ----------------- Middle Section (product gallery) By Saurabh ------------------------------> */

.wrapper {
    width: 100%;
    height: 500px;
    /* background-color: #ff9494; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* margin-top: 1%; */
    margin-bottom: 1px;
}

.prodesc {
    /* border-left: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 20px 30px;
    gap: 3%;
    box-shadow: 0 0 3px black;
}

.reviews {
    padding-left: 10px;
}

.ratings {
    padding-right: 10px;
}

.product-list li{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.proicons {
    display: flex;
    flex-direction: column;
    height: 500px;
    /* background-color:green; */
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
    /* border-right: 3px solid black; */
    box-shadow: 0 0 10px black;
}

.proicons button {
    border: 2px solid red;
    border-radius: 15%;
    overflow: hidden;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.util-shadow {
    box-shadow: 0 0 15px #f51616;
}

.prodesc h1 {
    color: #222f3d;
    letter-spacing: 2px;
}



.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #222f3d; */
    width: 50%;
}

.slide-wrapper {
    padding: 2% 2%;
    width: 100%;
    height: 100%;
    /* border: 4px solid red; */
}

.slide {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 400px;
    overflow-x: hidden;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    max-width: 100%;
    max-height: 100%;
    /* background-image: url("./images/img1.jpg"); */
    background-image: url("https://m.media-amazon.com/images/I/71Hqh3lw84L._AC_UX575_.jpg");
    object-fit: contain;
}

.slide2 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("https://m.media-amazon.com/images/I/71wk1q6z9GL._AC_UX575_.jpg");
    object-fit: contain;
}

.slide3 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("https://m.media-amazon.com/images/I/71Jg+td+juL._AC_UX575_.jpg");
}

.slide4 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img4.jpg");
}

.slide5 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img5.jpg");
}

.arrow {
    cursor: pointer;
    /* margin-top: -35px; */
    width: 0;
    height: 0;
    /* border-style: solid; */
    position: absolute;
}

#arrow-left {
    top: 50%;
    left: 9%;
    /* border-width: 20px 30px 20px 0;
    border-color: transparent #000000 transparent transparent; */
    margin-left: 20px;
}

#arrow-right {
    top: 50%;
    left: 55%;
    /* border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #000000; */
    margin-right: 20px;
}

.videoWrapper {
    /* border-top: 2px solid black; */
    width: 100%;
    height: 500px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.videoWrapper video {
    position: absolute;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0 , 0 , 0 , 0.7);
}

.vidControls {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidBtns {
    width: 200px;
    height: 50px;
    border: 2px solid rgb(30, 48, 80);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vidBtns button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* <--------------------------------Product Description--------------------> */

.product-description h1{
    margin-left: 30px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
}
.wrapper-img{
    overflow-x: hidden;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}


.product-img .img1{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -4px;
    
}

.product-img .img2{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.product-desc-img {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition: 0.8s;
}

.btn1{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    
}

.btn2, .btn3{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: normal;

}


.btn1:hover , .btn2:hover ,.btn3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s ;
}

.changeBackground{
    background-color: #222f3d;
    color: white;
    cursor: pointer;
    transition: 0.2s ;
}


.arrow1{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

.wrapper-img img{
    padding: 30px;
}

.textcontent {
 
    display: flex;
    
    /* flex-direction: column; */
    
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.img6{
    padding-left: 30px;
    /* padding-bottom: 30px; */
    width: 450px;
    height: 500px;
    min-width: 40%;
    min-height: 80%;
    /* max-width:100%;
    max-height: 100%; */
    /* min-height: 600px; */
    padding-right: 30px;


}


.h1{
    /* padding-left: 10px; */
    padding-bottom:10px;
    align-items: center;
    word-spacing: 2px;
}

.h3{
   /* padding:30px; */
   padding-left: 30px;
    align-items: center;
    /* word-spacing: 2px; */
}

.innertextcontent .h4{
    padding-left: 30px;
    margin-bottom: -40px;
    /* padding-bottom: 5px; */
    align-items: center;
    /* word-spacing: 2px; */
}

.innertextcontent{

    width: 100%;
    margin-top: 10%;
    /* padding: 30px; */
    padding-bottom: 30px;

    /* justify-content: center; */
    /* align-items: center; */

}
/* <---------------------------------------- Product Review ----------------------------------------> */

.product-review {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* Vertically */
    justify-content: space-evenly;/* Horizontally */
    padding-left: 100px;
    padding-right: 100px;
    /* background: linear-gradient(45deg,#0cc0df,#ffb2f3,#ffde59); */
}


.container {
    /* position: ; */
    margin:30px;
    height: 450px;
    background: #fff;
    padding: 25px 50px 35px; /* Vertically Horizontally Z axis  */
    border-radius: 25px;
    box-shadow: 0px 5px 8px;
    
}


.container header{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container .star {
    display: flex;
    align-items: center;
    gap:25px;
}

.container.star i {
    color: #dadada;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2 ease;
}

.star i.active{
    color: #ffde59;
}

.textbox{
    margin-top: 20px;
    
}

.textbox .button{
        display: flex;
        align-items: center;
        justify-content:center;

}


.popup-container{
    display: flex;
    flex-wrap: wrap;

}

.popup{
    width: 30%;
    height: 40%;
    min-width: 350px;
    min-height: 150px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 35%;
    /* transform: translate(-45%,50%)scale(0.1); */
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    /* transition: transform 0.5s,ease 0.5s,bottom 0.5s; */
    box-shadow: 0 2px 5px black;
}

.open-popup{
    visibility: visible;
    top: 620vh;
    /* transform: translate(-45%,-50%)scale(1); */
    position: fixed;
    top: 10%;
    left: 35%;
    z-index: 5;
}

.overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.7);
    z-index: 3;
}

.toggleDisplay{
    display: block;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px black;
}

.popup h2{
    font-size:38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width:70%;
    margin-top: 20px;
    padding: 10px 0;
    background: #6fd649;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px black;
}


.button1{
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 8px;
    padding: 8px 8px 8px;
    font-weight:bold;
    cursor: pointer;
    /* transition: color 0.2 ease; */
    box-shadow: 0px 1px 8px;
}

.display{
    min-width: 420px;
    min-height: 300px;
    margin: 30px;
    height: 400px;
    width: 420px;
    background: #fff;
    padding: 25px 50px 35px; /* Vertically Horizontally Z axis  */
    border-radius: 25px;
    box-shadow: 0px 5px 8px;  
    background-color:#E9EAEC;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

::-webkit-scrollbar{
    width: 21px;
}

::-webkit-scrollbar-track{
    /* Track in which the thumb(pointer) can move easily */
    background-color: gainsboro;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:grey ;
    border-radius: 30px;
    border: 0.5rem solid transparent;
    background-clip: content-box;
}



.feedback-display:nth-child(odd){
    border: 1px solid black;
    border-radius: 20px;
    width:70%;
    height: 30%;
    margin-top: 10px;
    padding:20px;
    padding-right:20px ;
    padding-left: 40px;
    text-decoration: none;
    list-style-type: none;
    box-shadow: -3px 4px 6px grey;
    background:#fff;
}
.feedback-display:nth-child(even){
    border: 1px solid black;
    border-radius: 20px;
    width:60%;
    height: 30%;
    margin-left: 50%;
    margin-top: 10px;
    padding:20px;
    padding-right:20px ;
    padding-left: 40px;
    text-decoration: none;
    list-style-type: none;
    box-shadow: -3px 4px 6px grey;
    background: #fff;

}
.feedback-display .divstars{
    display: flex;
    padding-bottom: 10px;
}

.feedback-display .divstars i {
    /* color: #dadada; */
    font-size: 20px;
    /* cursor: pointer; */
    transition: color 0.2 ease;
}

.changeColor{
    color: #ffde59;
}







/* <---------------------------------- Footer ------------------------------> */

footer {
    margin-top: 3px;
}

.foot-panel1 {
    background-color: #E2DED0;
    color: #37475a;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel1:hover{
    background-color:#37475a;
    transition: all 0.3s ease-in-out;
    color: #E2DED0;
    font-weight:bold;
}

.foot-panel2 {
    background-color:#E8E8E0;
    color:  #222f3d;
    border-top: 1px solid white;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom:10px; */
}

.foot-panel2 ul{
    padding: 20px;
}


.foot-panel3 {
    background-color: #EEEDE7;
    color: #222f3d;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 8px;
    color:#222f3d;
    text-decoration: none;
}


.foot-panel4 {
    border-top: 1px solid white;
    background-color:#E9EAEC;
    color: #0f1111;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.foot-panel4 a {
    color:#0f1111;
    text-decoration: none;
}

.content {
    padding-top: 25px;
}

.copyright {
    text-align: center;
}