* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: #131921;
    width: 100%;
    height: 10vh;
}

.img-amz {
    height: 60%;
    background-color: white;
    border-radius: 20%;
    margin: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.home {

    margin: 1rem;
    height: 50%;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;

}

.hello {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.hello-img {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

#hello-img {
    height: 50%;
}

.hello-text {
    color: white;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}


/* <---------------------------------- Middle Section (product gallery) ------------------------------> */

.wrapper {
    width: 100%;
    height: 500px;
    /* background-color: #ff9494; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prodesc {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background-color: blue;
    padding: 20px 20px;
}

.proicons {
    display: flex;
    flex-direction: column;
    height: 500px;
    /* background-color:green; */
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    border-right: 3px solid black;
    box-shadow: 0 0 10px black;
}

.proicons img {
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 8px #141414;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide-wrapper {
    width: 700px;
    height: 400px;
    /* border:4px solid red; */
    position: realtive;
}

.slide {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    height: 400px;
    overflow-x: hidden;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img1.jpg");
}

.slide2 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img2.jpg");
}

.slide3 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img3.jpg");
}

.slide4 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img4.jpg");
}

.slide5 {
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/img5.jpg");
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #000000 transparent transparent;
    left: 10%;
    margin-left: 20px;
}

#arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #000000;
    right: 45%;
    margin-right: 20px;
}


.videoWrapper {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: #ff9494;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.videoWrapper video {
    position: absolute;
    width: 500px;
    height: 500px;
}



/* <---------------------------------- Footer ------------------------------> */

footer {
    margin-top: 3px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom:10px; */
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 8px;
    color: #dddddd;
    text-decoration: none;
}


.foot-panel4 {
    border-top: 0.5px solid white;
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.foot-panel4 a {
    color: white;
    text-decoration: none;
}

.content {
    padding-top: 25px;
}

.copyright {
    text-align: center;
}